#!/bin/sh

log() {
	logger -t "Portal Control" "$@"
}

cmd=$1

if [ $cmd = "block" ]; then
	uci set nodogsplash.nodogsplash.enabled='1'
	uci commit nodogsplash
	/etc/init.d/nodogsplash start
	/usr/lib/bwmon/block 1
fi

if [ $cmd = "unblock" ]; then
	uci set nodogsplash.nodogsplash.enabled='0'
	uci commit nodogsplash
	/etc/init.d/nodogsplash stop
	/usr/lib/bwmon/block 0
fi